<app-menu></app-menu>
<form [formGroup]="myformNewUser">
    <div class="flex flex-column col-6 col-offset-3">
        <span class="text-lg mb-4">Login</span>
        
        <mat-form-field *ngIf="!usuario?.login">
            <mat-label>login</mat-label>
            <input type="text" formControlName="login" [value]="usuario?.login" matInput placeholder="Nombre del Usuario">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" [value]="usuario?.password" matInput placeholder="Password del Usuario">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="nombre" [value]="usuario?.nombre" matInput placeholder="Escribe tu nombre">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <input type="number" formControlName="cliente" [value]="usuario?.cliente" matInput placeholder="Escribe el cliente">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E-mail (Opcional)</mat-label>
            <input type="email" formControlName="email" [value]="usuario?.email" matInput placeholder="Escribe tu email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha alta (Opcional)</mat-label>
            <input formControlName="fechaalta" matInput [matDatepicker]="picker" [value]="usuario?.fechaalta">
            <mat-hint>MM/DD/YYYY Opcional</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fecha baja (Opcional)</mat-label>
            <input formControlName="fechabaja" matInput [matDatepicker]="pickerFb" [value]="usuario?.fechabaja">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="pickerFb"></mat-datepicker-toggle>
            <mat-datepicker #pickerFb></mat-datepicker>
          </mat-form-field>

            <mat-form-field>
            <mat-label>Status (Opcional)</mat-label>
            <mat-select formControlName="status" [value]="usuario?.status">
                
                @for (st of status; track st) {
                <mat-option [value]="st.status">{{st.valor}}</mat-option>
                }
            </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de rebocado (Opcional)</mat-label>
                <input formControlName="fecharevocado" matInput [matDatepicker]="pickerFr" [value]="usuario?.fecharevocado">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerFr"></mat-datepicker-toggle>
                <mat-datepicker #pickerFr></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Fecha de vigencia (Opcional)</mat-label>
                <input formControlName="fechaVigencia" matInput [matDatepicker]="pickerFv" [value]="usuario?.fechaVigencia">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerFv"></mat-datepicker-toggle>
                <mat-datepicker #pickerFv></mat-datepicker>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Apellido paterno (Opcional)</mat-label>
                <input type="text" formControlName="apellidoPaterno" matInput placeholder="Escribe tu apellido paterno" [value]="usuario?.apellidoPaterno">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Apellido materno (Opcional)</mat-label>
                <input type="text" formControlName="apellidoMaterno" matInput placeholder="Escribe tu apellido materno" [value]="usuario?.apellidoMaterno">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Area (Opcional)</mat-label>
                <input type="number" formControlName="area" matInput placeholder="Escribe el area" [value]="usuario?.area">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de modificacion</mat-label>
                <input formControlName="fechamodificacion" matInput [matDatepicker]="pickerFm" [value]="usuario?.fechamodificacion">
                <mat-hint>MM/DD/YYYY Opcional</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerFm"></mat-datepicker-toggle>
                <mat-datepicker #pickerFm></mat-datepicker>
              </mat-form-field>
    
        <button mat-button mat-flat-button color="primary" (click)="guardarUsuario()" *ngIf="!usuario?.login else elseBlock">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        
        <ng-template #elseBlock>
            <button mat-button mat-flat-button color="primary" (click)="updateUsuario()">
                <mat-icon>actualizar</mat-icon>
                actualizar
            </button>
        </ng-template>
    </div>
</form>
