<form [formGroup]="myForm" action="" (ngSubmit)="checkUser()">
    <div class="flex flex-column col-6 col-offset-3">
            <span class="text-lg mb-4">Login</span>
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input type="text" formControlName="login" matInput placeholder="Nombre del Usuario">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" matInput placeholder="Nombre del Usuario">
        </mat-form-field>
    
        <button mat-button mat-flat-button color="primary">
            <mat-icon>save</mat-icon>
            Ingresar
        </button>
        <div class="flex justify-content-end mt-5">
            <a routerLink="/auth">Ya tienes cuenta?</a>
        </div>  
    </div>
</form>
       
